@{
    ViewData["Title"] = "Pagina Inicial";
}

<h1 id="h1-tittle"><span>Bater o Ponto da sua empresa.</span> Nunca Foi Tao Facil!</h1>
<header>
    <section>
        <div id="logo"><a class="btn btn-success" asp-controller="Home" asp-action="Index">BaterPonto</a></div>
        <nav>
            <a href="#Sobre"><i class="fa-solid fa-question"></i></a>
            <a href="http://localhost:3000/login"><i class="fa-solid fa-user"></i></a>
            <a href="#Contato"><i class="fa-solid fa-phone"></i></a>
            <a href="http://localhost:3000"><i class="fa-solid fa-house"></i></a>
        </nav>
    </section>
</header>
<main>
    <section id="Introduction">
        <h2>Bater o Ponto de Forma Online</h2>
        <p>Coloque sua empresa a frente usando uma ferramenta de facil acesso pelo navegador.</p>
        <p>Nao perca tempo. Comece logo sua experiencia.</p>
        <a class="btn btn-secondary" asp-controller="Empresa" asp-action="Create">Cadastre-se Agora</a>
    </section>
    <section id="first-content">
        <h2></h2>
    </section>
</main>
